@import './fonts';
@import './sizes';
@import './colors';
@import './markdown';

* {
	color: $color-text-base;
}

body {
	color: $color-body-background;
}

a {
	transition: opacity 500ms;
	color: $color-link-base;
	text-decoration: none;
	&:hover,
	&:active,
	&:focus {
		opacity: 0.5;
		outline: none;
	}
}

.LazyLoad {
	height: 60vh !important;
  min-height: $size-breakpoint-min;
  margin-bottom: 2.4rem;
}