@import './fonts';
@import './sizes';
@import './colors';

* {
	color: $color-text-base;
}

body {
	color: $color-body-background;
}

a {
	transition: opacity 500ms;
	color: $color-link-base;
	text-decoration: none;
	&:hover,
	&:active,
	&:focus {
		opacity: 0.5;
		outline: none;
	}
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
