$color-white: white;
$color-black: black;
$color-gray-dark: #333;
$color-green-dark: #5f7a75;

$color-control-interactive: $color-green-dark;

$color-text-base: $color-black;

$color-body-background: $color-white;

$color-header-background: $color-body-background;
$color-header-link-base: $color-gray-dark;

$color-link-base: $color-control-interactive;

