@import '../../styles/colors';
@import '../../styles/sizes';

.subSectionAnchor {
	top: -3rem;
	position: absolute;
}

.subSection {

	overflow: hidden;
	position: relative;

	padding: 0 4rem 2.6rem;

	figure {
		width: 40%;
		padding-top: 40%;
		float: left;
		background: none transparent center 30%/cover no-repeat scroll;
	}

	aside {
		width: 60%;
		float: left;
		padding: 0 0 0 4rem;
		h2 {
			margin-bottom: 0.6rem;
		}
		& > h2, & > h4 {
			text-transform: uppercase;
		}
		& > a {
			float: right;
		}
	}

	@media (max-width: $size-breakpoint-phablet) {
    figure, aside {
    	width: 100%;
    }
    figure {
    	padding-top: 100%;
    }
    aside {
    	padding: 0 0.5rem;
    }
  }

}
