@font-face {
	font-family: 'Avenir Next';
	src: url('~/fonts/hinted-AvenirNext-Bold.eot');
	src: local('Avenir Next Bold'), local('AvenirNext-Bold'),
		url('~/fonts/hinted-AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
		url('~/fonts/hinted-AvenirNext-Bold.woff2') format('woff2'),
		url('~/fonts/hinted-AvenirNext-Bold.woff') format('woff'),
		url('~/fonts/hinted-AvenirNext-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('~/fonts/hinted-AvenirNext-Medium.eot');
	src: local('Avenir Next Medium'), local('AvenirNext-Medium'),
		url('~/fonts/hinted-AvenirNext-Medium.eot?#iefix')
			format('embedded-opentype'),
		url('~/fonts/hinted-AvenirNext-Medium.woff2') format('woff2'),
		url('~/fonts/hinted-AvenirNext-Medium.woff') format('woff'),
		url('~/fonts/hinted-AvenirNext-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Ultra Light';
	src: url('~/fonts/hinted-AvenirNext-UltraLight.eot');
	src: local('AvenirNext-UltraLight'),
		url('~/fonts/hinted-AvenirNext-UltraLight.eot?#iefix')
			format('embedded-opentype'),
		url('~/fonts/hinted-AvenirNext-UltraLight.woff2') format('woff2'),
		url('~/fonts/hinted-AvenirNext-UltraLight.woff') format('woff'),
		url('~/fonts/hinted-AvenirNext-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Snell Roundhand';
	src: url('~/fonts/hinted-SnellRoundhand-Black.eot');
	src: local('Snell Roundhand Black'), local('SnellRoundhand-Black'),
		url('~/fonts/hinted-SnellRoundhand-Black.eot?#iefix')
			format('embedded-opentype'),
		url('~/fonts/hinted-SnellRoundhand-Black.woff2') format('woff2'),
		url('~/fonts/hinted-SnellRoundhand-Black.woff') format('woff'),
		url('~/fonts/hinted-SnellRoundhand-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
